body {
    margin: 0;
    min-height: 100vh;
    background: linear-gradient(45deg, #fdfeff,  #fdfeff, #b3e0ff,#fa7d7d );
    background-size: 400% 100%;
    animation: gradientRotation 10s ease infinite;
}

@keyframes gradientRotation {
    0% {
        background-position: 0% 50%;
    }

    50% {
        background-position: 100% 50%;
    }

    100% {
        background-position: 0% 50%;
    }
}

.lh-small {
    line-height: 10px;
}